@{
    Layout = "../Shared/_LayoutAcessar.cshtml";

    ViewData["Title"] = "Seja bem Vindo";
}

<div class="container text-center" style="background-color:rgba(128, 128, 128, 0.36); border-radius:10px; padding:20px; width:630px;">
    <h1 class="display-4">AGENDA DE CONTATOS</h1>  
    <button type="submit" class="btn btn-info w-50"><a href="../Agenda/Index" style="color:aliceblue;">Acessar</a></button>
</div>
